<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
               <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>          
        </ul>        
      </nav>
    </div>  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'New Post', new_post_path %>
    <%= link_to 'My Blog', posts_path %>

    <%= yield %>
  </body>
</html>
